<% layout("./layouts/boilerplate") %>

    <body>
        <h2>All Listings</h2>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% for(list of allListing){ %>
                <a href="/listings/<%=list._id%>" class="listing-link">
                    <div class="card" style="width: 20rem;">
                        <img src="<%= list.image.url %>" class="card-img-top" alt="Listing_images">
                        <div class="card-img-overlay">Click here</div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= list.title %>
                            </h5>
                            <p class="card-text">
                                ₹<%= list.price.toLocaleString("en-IN") %>/night
                            </p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>